body, html, #root {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Gallery */
.gallery {
  width: 100%;
  height: 100%;
  background: #2d2d2d;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.gallery .featured {
  height: 85%;
  align-self: center;
}

.gallery .featured img {
  width: auto;
  height: 100%;
}

.gallery .featured .show {
  animation: fadeIn .8s ease-out;
}

.gallery .items {
  height: 15%;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.gallery .items .item {
  height: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
}

.gallery .items .item.active img {
  opacity: 1;
}

.gallery .items .item img {
  height: 100%;
  width: 200px;
  object-fit: cover;
  object-position: center;
  transition: opacity .3s linear;
  opacity: .5;
}

/* Draggable Grid */
.box {
  min-width:0;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 60px;
  text-align: center;
}

.box img {
    height: 100%;
    width: 200px;
}

.grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.addCursor {
  cursor: grabbing;
}

.gridItem {
  padding: 20px;
  user-select: none;
}

.dragging {
  opacity: .3;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
